@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 style="color:darksalmon ; font-size: 16px; font-weight: 400 ; " class="display-4">Bienvenue dans notre simple application de la gestion bancaire  </h2>
    </br>
    <p>On a eu l'opportunité de reconnaître le .NET comme un framework logiciel conçu pour simplifier le développement d'applications en offrant des fonctionnalités prêtes à l'emploi et en prenant en charge de nombreux aspects techniques complexes. </p>
</div>
